@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway|Roboto:300,400');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import 'bulma/bulma.sass';

@import './mixins';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.hero-content {
  background-image: url('https://cdn.homeshopping.pk/templates/ResGarden/images/HomeSlider2018/Home-Mobile-Banner.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-attachment: fixed;
  background-size: contain;

  .hero-content-body {
    background-image: linear-gradient(to bottom, $transparentBg);
    -webkit-background-image: linear-gradient(to bottom, $transparentBg);
    -moz-background-image: linear-gradient(to bottom, $transparentBg);
  }
}

.screen-shrink {
  width: (100vw / 1.8);
  margin: 10vh auto !important;
  display: flex;
  flex-direction: column;

  .panel {
    .column {
      display: flex;
      justify-content: space-between;
      .sort-area {
        display: flex;
        span {
          align-self: center;
          margin-right: 20px;
        }
      }
      .showing {
        align-self: center;
      }
    }
  }
}

@include smallerScreen {
  .screen-shrink {
    width: 90vw; // make the width 90% of the screen
  }
}
